.promo {
  color: var(--black-primary, #1d2021);
  /* Promo */
  font-family: Raleway;
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.h1 {
  color: var(--black-primary, #1d2021);
  /* H1 */
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
}

.reg18 {
  color: var(--black-primary, #1d2021);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.36px;
}

.bold18 {
  color: var(--black-primary, #1d2021);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.18px;
}

.bold18menu {
  color: var(--black-primary, #1d2021);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.18px;
}

.h2 {
  color: var(--black-primary, #1d2021);
  /* H2 */
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.24px;
}

.reg16 {
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 143.75% */
  letter-spacing: 0.32px;
  color: #151515;
}

.reg14 {
  color: var(--black-primary, #1d2021);
  /* 14 reg */
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
}

.callout {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.48px;
  color: #151515;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 0 16px 0;
  margin-top: 16px;
  margin-bottom: 16px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #151515;
}

@media only screen and (max-width: 767px) {

  .promo {
    font-size: 38px;
  }

  .h1 {
    line-height: 29px;
    font-size: 28px;
  }

  .reg18 {
    line-height: 25px;
  }

  .h2 {
    font-size: 21px;
  }

}