.regular24 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #151515;
}

.regular24:hover {
  color: #0066FF;
  text-decoration: underline;
}

.regular24lang {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #151515;
  margin-left: 24px;
}

.regular24lang:hover {
  color: #0066FF;
  text-decoration: underline;
}

.h1promo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 84px;
  line-height: 72px;
  color: #151515;
}

.pregular {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #151515;
}

.pregularLink {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #151515;
}

.pregularLink:hover {
  color: #0066FF;
}

.h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.01em;
  color: #151515;
}

.h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #151515;
}

.h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.01em;
  color: #151515;
}

.pBold {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #151515;
}

.pSmall {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #646464;
}

.pSmallGrey {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #9b9b9f;
  width: 100%;
}

.footerfont {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: #151515;
}

.footerfont:hover {
  color: #0066FF;
}

.buttonfont {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #151515;
}

.buttonfont:hover {
  color: #fdfdfd;
}

.callout {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.03em;
  color: #151515;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #151515;
}

@media only screen and (max-width: 767px) {
  .h1promo {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.02em;
    width: 100%;
  }
  
  .pregular {
    font-size: 16px;
    line-height: 26px;
  }

  .pregularLink {
    font-size: 16px;
    line-height: 26px;
  }

  .regular24lang {
    margin-left: 0px;
  }
  
  .h1 {
    font-size: 30px;
    line-height: 34px;
  }
  
  .h2 {
    font-size: 26px;
    line-height: 29px;
    letter-spacing: 0.02em;
  }
  
  .h3 {
    font-size: 22px;
    line-height: 26px;
  }
  
  .pBold {
    font-size: 16px;
    line-height: 26px;
  }
  
  .pSmall {
    font-size: 13px;
    line-height: 21px;
  }
  
  .pSmallGrey {
    font-size: 14px;
    line-height: 21px;
  }
  
  .footerfont {
    font-size: 18px;
  }
  
  .buttonfont {
    font-size: 18px;
    line-height: 27px;
  }
  
  .callout {
    font-size: 20px;
    line-height: 30px;
    padding: 20px;
  }

  .regular24disabled {
    margin-left: 0px;
  }
}
